import /init.recovery.qcom_decrypt.rc

on early-init
    exec u:r:set_permissive:s0 -- /system/bin/set_permissive.sh

    # create symlink for vendor mount points
    symlink /vendor/firmware_mnt /firmware
    symlink /vendor/bt_firmware /bt_firmware
    symlink /vendor/dsp /dsp

on init
    mount_all /vendor/etc/charger_fw_fstab.qti --early
    write /sys/class/backlight/panel0-backlight/brightness 200
    setprop sys.usb.configfs 1

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    mount vfat /dev/block/bootdevice/by-name/modem${ro.boot.slot_suffix} /firmware ro

on post-fs
    start boot-hal-1-1

on late-fs
    start keymasterd
    start set_permissive
    start health-hal-2-1

on boot
    setprop sys.usb.config mtp,adb

on property:vendor.sys.listeners.registered=true
    start load_modules

on property:twrp.modules.loaded=true
    # Load ADSP firmware for PMIC
    wait /sys/kernel/boot_adsp/boot
    write /sys/kernel/boot_adsp/boot 1
    wait /sys/class/power_supply/battery
    setprop twrp.loaded.adsp true

on property:twrp.loaded.adsp=true
    wait /sys/kernel/boot_adsp/boot
    write /sys/kernel/boot_adsp/boot 1
    wait /sys/class/power_supply/battery

on property:ro.boot.usbcontroller=*
    setprop sys.usb.controller ${ro.boot.usbcontroller}
    wait /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode
    write /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode peripheral

on charger
    setprop sys.usb.controller a600000.dwc3
    setprop sys.usb.configfs 1

service set_permissive /system/bin/set_permissive.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service load_modules /system/bin/load_modules.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service keymasterd /system/bin/keymasterd
     user root
     group root
     disabled
     seclabel u:r:recovery:s0

service health-hal-2-1 /system/bin/android.hardware.health@2.1-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
