import /init.recovery.qcom_decrypt.rc

on init
    write /sys/class/backlight/panel0-backlight/brightness 200
    start set_permissive

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    # Mount firmware
    mkdir /firmware
    mount vfat /dev/block/bootdevice/by-name/modem${ro.boot.slot_suffix} /firmware ro
    
on post-fs
    start boot-hal-1-1

on property:twrp.modules.loaded=true
    # Load ADSP firmware for PMIC
    wait /sys/kernel/boot_adsp/boot
    write /sys/kernel/boot_adsp/boot 1
    wait /sys/class/power_supply/battery
    start health-hal-2-1

service set_permissive /system/bin/set_permissive.sh
    user root
    group root
    disabled
    oneshot 
    seclabel u:r:recovery:s0
